extends layout

block content
  h1=title
  table
    tr
      th Name 
      th Length
      th Maturity Rating
      th Rating
      th Year
    each movie in movies
      tr
        td=movie.Name
        td=movie.Length
        td=movie.Maturity_Rating
        td=movie.Rating
        td=movie.Year