extends layout

block content
  h1=title
  p Welcome to the #{title} page.
  table
    tr
      th Maturity Rating 
      th Year
      th Length
      th Rating
      th Name
    each movie in movies
      tr
        td=movie.Maturity_Rating
        td=movie.Year
        td=movie.Length
        td=movie.Rating
        td=movie.Name